.DS_Store
PagedView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PagedView.xcodeproj/project.xcworkspace/xcuserdata/rits.xcuserdatad/UserInterfaceState.xcuserstate
PagedView.xcodeproj/xcuserdata/rits.xcuserdatad/xcschemes/PagedView.xcscheme
PagedView.xcodeproj/xcuserdata/rits.xcuserdatad/xcschemes/xcschememanagement.plist
PagedView.xcodeproj/project.xcworkspace/xcuserdata/rits.xcuserdatad/WorkspaceSettings.xcsettings
